@import "../../styles/colors.less";

.cpnLogin {
	display: flex;
	flex-direction: column;

	.bottom {
		background-color: @blackA;
		padding: 24px;
		display: flex;
		flex-direction: column;

		> * + * {
			margin-top: 12px;
		}

	}

}

.mobile .cpnLogin {
	width: 100%;
}
