.cpnLogin{display:flex;flex-direction:column}.cpnLogin .bottom{background-color:#505360;padding:24px;display:flex;flex-direction:column}.cpnLogin .bottom>*+*{margin-top:12px}.mobile .cpnLogin{width:100%}