@import "./styles/colors.less";

@font-face {
	font-family: bitty;
	src: url('bitty.ttf');
}

* {
	font-family: bitty;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: darken(@black, 5%);
	height: 100vh;
}

.centered {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.title {
	color: @orangeA;
	padding: 24px 0px;
	background-color: @blackB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.4;
}

.hidden {
	display: none;
}

input,
input:-internal-autofill-selected,
textarea {
	outline: none;
	border-radius: 0px;
	border: none;
	font-size: 16px;
	background-color: @blackC !important;
	color: @grayA !important;
	padding: 6px;
	appearance: none !important;
	box-sizing: border-box;
}

.label {
	color: @blueB;
	display: flex;
	justify-content: center;
	align-items: center;
}

.toolbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding: 12px;
	background-color: @blackB;

	> * + * {
		margin-left: 12px;
	}

	.btn {
		background-color: @blueC;
		padding: 6px 12px;
		color: @white;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background-color: @blueD;
		}

		&.right {
			margin-left: auto;
		}

		&.gray {
			background-color: @grayC;

			&:hover {
				background-color: @grayD;
			}

		}

	}

}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: @blackB;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 0px;
	background: @grayC;
}

.mobile .hideMobile {
	display: none !important;
}
